### Importa as bibliotecas

In [1]:
import pandas as pd
import warnings
warnings.simplefilter("ignore")

##### Exibe a versão do Panda

In [2]:
pd.__version__

'1.3.4'

##### Carrega o Arquivo

In [3]:
df = pd.read_excel('movimentacao-2021-12-19-02-00-08.xlsx', sheet_name="Movimentação")

##### Exibe as linhas do arquivo

In [4]:
df.head(30)

,Entrada/Saída,Data,Movimentação,Produto,Instituição,Quantidade,Preço unitário,Valor da Operação
0,Credito,16/12/2021,Transferência - Liquidação,BTCR11 - FII BTG CRI,CLEAR CORRETORA - GRUPO XP,3,89.99,269.97
1,Credito,15/12/2021,Transferência - Liquidação,CSAN3 - COSAN S.A.,CLEAR CORRETORA - GRUPO XP,10,22.37,223.7
2,Credito,14/12/2021,Rendimento,BCFF11 - FDO INV IMOB - FII BTG PACTUAL ...,CLEAR CORRETORA - GRUPO XP,12,0.5,6
3,Credito,14/12/2021,Rendimento,BRCR11 - FDO INV IMOB - FII BTG PACTUAL ...,CLEAR CORRETORA - GRUPO XP,2,0.5,1
4,Credito,14/12/2021,Rendimento,BTCR11 - FII BTG CRI,CLEAR CORRETORA - GRUPO XP,17,0.9,15.3
5,Credito,14/12/2021,Rendimento,MXRF11 - MAXI RENDA FUNDO DE INVESTIMENT...,CLEAR CORRETORA - GRUPO XP,17,0.08,1.36
6,Credito,14/12/2021,Rendimento,SADI11 - SANTANDER PAPÉIS IMOBILIÁRIOS C...,CLEAR CORRETORA - GRUPO XP,2,0.59,1.18
7,Credito,10/12/2021,Transferência - Liquidação,MGLU3 - MAGAZINE LUIZA S/A,CLEAR CORRETORA - GRUPO XP,20,6.86,137.2
8,Credito,10/12/2021,Transferência - Liquidação,MXRF11 - MAXI RENDA FUNDO DE INVESTIMENT...,CLEAR CORRETORA - GRUPO XP,18,9.9,178.2
9,Debito,10/12/2021,Transferência - Liquidação,UGPA3 - ULTRAPAR PARTICIPACOES S.A.,CLEAR CORRETORA - GRUPO XP,25,15.3,382.5
10,Credito,02/12/2021,Transferência - Liquidação,BTCR11 - FII BTG CRI,CLEAR CORRETORA - GRUPO XP,5,89.96,449.8
11,Credito,02/12/2021,Transferência - Liquidação,MXRF11 - MAXI RENDA FUNDO DE INVESTIMENT...,CLEAR CORRETORA - GRUPO XP,2,10.03,20.06
12,Credito,01/12/2021,Transferência - Liquidação,CIEL3 - CIELO S.A.,CLEAR CORRETORA - GRUPO XP,65,2.11,137.15
13,Debito,01/12/2021,Transferência - Liquidação,XPHT11 - XP HOTÉIS - FII- FII (VRE HOTEI...,CLEAR CORRETORA - GRUPO XP,5,92.55,462.77
14,Credito,30/11/2021,Juros Sobre Capital Próprio,BBAS3 - BANCO DO BRASIL S/A,CLEAR CORRETORA - GRUPO XP,33,0.39,11.05
15,Credito,29/11/2021,Transferência - Liquidação,CIEL3 - CIELO S.A.,CLEAR CORRETORA - GRUPO XP,28,2.18,61.04
16,Credito,26/11/2021,Juros Sobre Capital Próprio,CIEL3 - CIELO S.A.,CLEAR CORRETORA - GRUPO XP,109,0.03,2.56
17,Credito,24/11/2021,Transferência - Liquidação,CIEL3 - CIELO S.A.,CLEAR CORRETORA - GRUPO XP,42,2.19,91.98
18,Credito,22/11/2021,Rendimento,WTSP11B - FII WTC SP,CLEAR CORRETORA - GRUPO XP,2,0.4,0.8
19,Credito,18/11/2021,Transferência - Liquidação,CIEL3 - CIELO S.A.,CLEAR CORRETORA - GRUPO XP,9,2.35,21.15
20,Credito,16/11/2021,Rendimento,BCFF11 - FDO INV IMOB - FII BTG PACTUAL ...,CLEAR CORRETORA - GRUPO XP,12,0.5,6
21,Credito,16/11/2021,Rendimento,BRCR11 - FDO INV IMOB - FII BTG PACTUAL ...,CLEAR CORRETORA - GRUPO XP,2,0.46,0.92
22,Credito,16/11/2021,Rendimento,BTCR11 - FII BTG CRI,CLEAR CORRETORA - GRUPO XP,12,0.8,9.6
23,Credito,16/11/2021,Rendimento,MXRF11 - MAXI RENDA FUNDO DE INVESTIMENT...,CLEAR CORRETORA - GRUPO XP,11,0.09,0.99
24,Credito,16/11/2021,Rendimento,SADI11 - SANTANDER PAPÉIS IMOBILIÁRIOS C...,CLEAR CORRETORA - GRUPO XP,2,0.51,1.02
25,Credito,12/11/2021,Transferência - Liquidação,CIEL3 - CIELO S.A.,CLEAR CORRETORA - GRUPO XP,15,2.49,37.35
26,Credito,12/11/2021,Transferência - Liquidação,MGLU3 - MAGAZINE LUIZA S/A,CLEAR CORRETORA - GRUPO XP,12,13.25,159
27,Credito,12/11/2021,Transferência - Liquidação,MXRF11 - MAXI RENDA FUNDO DE INVESTIMENT...,CLEAR CORRETORA - GRUPO XP,4,9.97,39.88
28,Credito,12/11/2021,Transferência - Liquidação,WEGE3 - WEG S/A,CLEAR CORRETORA - GRUPO XP,10,36.52,365.2
29,Credito,26/10/2021,Transferência - Liquidação,MXRF11 - MAXI RENDA FUNDO DE INVESTIMENT...,CLEAR CORRETORA - GRUPO XP,4,10.04,40.16

##### Exibe as Colunas do Arquivo

In [5]:
df.columns

Index(['Entrada/Saída', 'Data', 'Movimentação', 'Produto', 'Instituição',
       'Quantidade', 'Preço unitário', 'Valor da Operação'],
      dtype='object')

##### Exibe os tipos de cada coluna

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Entrada/Saída      214 non-null    object
 1   Data               214 non-null    object
 2   Movimentação       214 non-null    object
 3   Produto            214 non-null    object
 4   Instituição        214 non-null    object
 5   Quantidade         214 non-null    int64
 6   Preço unitário     214 non-null    object
 7   Valor da Operação  214 non-null    object
dtypes: int64(1), object(7)
memory usage: 13.5+ KB

##### Trata os dados das colunas ('Preço unitário', 'Valor da Operação')

In [7]:
df['Preço unitário'] = df['Preço unitário'].apply(lambda x : str(x).replace("-", "0"))
df['Valor da Operação'] = df['Valor da Operação'].apply(lambda x : str(x).replace("-", "0"))

##### Converte as colunas ('Preço unitário', 'Valor da Operação') para o float

In [8]:
df['Preço unitário'] =df['Preço unitário'].astype('float64')
df['Valor da Operação'] =df['Valor da Operação'].astype('float64')

##### Converte a coluna ('Data') para o tipo Date

In [9]:
# df['Data'] = pd.to_datetime(df['Data'],format='%d%m%Y')
df['Data'] = pd.to_datetime(df['Data'], infer_datetime_format=True)
df['Data']

0     2021-12-16
1     2021-12-15
2     2021-12-14
3     2021-12-14
4     2021-12-14
         ...
209   2021-01-15
210   2021-01-15
211   2021-01-15
212   2021-01-08
213   2021-01-06
Name: Data, Length: 214, dtype: datetime64[ns]

##### Count

In [10]:
df.count()

Entrada/Saída        214
Data                 214
Movimentação         214
Produto              214
Instituição          214
Quantidade           214
Preço unitário       214
Valor da Operação    214
dtype: int64

##### Discribe

In [11]:
df.describe()

       Quantidade  Preço unitário  Valor da Operação
count  214.000000      214.000000         214.000000
mean    10.728972       21.682804         139.256495
std     14.538968       29.210406         165.097887
min      0.000000        0.000000           0.000000
25%      3.000000        0.460000           1.635000
50%      7.500000       10.035000          70.500000
75%     12.000000       29.780000         261.905000
max    109.000000      114.370000         789.750000

##### Remove a coluna "Instituição" e exibe

In [12]:
df.drop(['Instituição'], axis=1, inplace=True)

##### Agrupa por movimentação

In [13]:
df_sum_Movimentacao = df.groupby(["Movimentação"]).sum()  
df_sum_Movimentacao

,Quantidade,Preço unitário,Valor da Operação
Movimentação,,,
Desdobro,27,0.00,0.00
Direito de Subscrição,3,0.00,0.00
Direitos de Subscrição - Não Exercido,0,0.00,0.00
Dividendo,58,0.79,12.02
Juros Sobre Capital Próprio,348,2.42,38.12
Rendimento,406,27.15,192.93
Transferência - Liquidação,1454,4609.76,29557.82

##### Filtra as inforamções da coluna movimenteções

In [14]:
tipos_movimentacoes = ['Juros Sobre Capital Próprio','Rendimento', 'Dividendo']
df_filter_movimentacao = df[df['Movimentação'].isin(tipos_movimentacoes)]
print(df_filter_movimentacao.sum());

Entrada/Saída        CreditoCreditoCreditoCreditoCreditoCreditoCred...
Movimentação         RendimentoRendimentoRendimentoRendimentoRendim...
Produto              BCFF11       - FDO INV IMOB - FII BTG PACTUAL ...
Quantidade                                                         812
Preço unitário                                                   30.36
Valor da Operação                                               243.07
dtype: object

##

##### Groupby mes

In [15]:
#df_filter_movimentacao.groupby([df['Data'].dt.year.rename('Ano'), df['Data'].dt.month.rename('Mes'), df['Movimentação']]).sum()  

df_filter_movimentacao.groupby([df['Data'].dt.year.rename('Ano'), df['Data'].dt.month.rename('Mes')]).sum()

          Quantidade  Preço unitário  Valor da Operação
Ano  Mes
2021 1            28            1.92              13.57
     2            78            2.00              16.42
     3            53            3.08              21.70
     4            38            2.24              16.95
     5            51            2.47              16.17
     6            46            2.55              17.65
     7            28            2.21              14.73
     8           168            2.94              30.88
     9            61            2.67              21.16
     10           28            2.53              16.06
     11          183            3.18              32.94
     12           50            2.57              24.84